---
import Dogma from '../layouts/Dogma.astro';
---

<Dogma
  t="Artículos sobre cómo tener un Perú mejor"
  d="En cada artículo hablamos de una problemática específica dentro del país."
  f="2025-10-08"
>
  <main>
    <article>
      <h1>Artículos sobre cómo tener un Perú mejor</h1>
      <p>
        Por ahora, los artículos están ordenados en orden de publicación, con el
        más antiguo al final. Cuando haya suficientes, los reagruparé por tema.
      </p>
      <dl><div>
          <dt class="h2"><a href="caca-embolsada.html">Caca embolsada</a></dt>
          <dd>
            Evitar que las calles y parques se conviertan en un «campo minado»
            es razonable, pero la forma en que se está haciendo puede
            convertirse en un problema después.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="falta-de-respeto-cotidiana.html"
              >Una falta de respeto que se está haciendo cotidiana</a
            >
          </dt>
          <dd>
            En los centros comerciales, una falta de respeto comienza a hacerse
            cotidiana y hay que detenerla
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="clientes-vs-base-de-datos.html"
              >No pierdas clientes por llenar tu base de datos</a
            >
          </dt>
          <dd>
            Cuidado: El pedir datos cuando un cliente pide información sobre
            algún producto o servicio que ofreces es invasivo y afecta
            negativamente en tus ventas.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="como-trabajar-bien.html">Cómo trabajar bien</a>
          </dt>
          <dd>
            Casi todas las veces que he salido de un puesto de trabajo, de algún
            modo o de otro, mi jefe siempre me dijo que he sido «el mejor». Aquí
            te cuento por qué.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="la-simpleza-del-semaforo.html">La simpleza del semáforo</a>
          </dt>
          <dd>
            Una historia que nos recuerda que las leyes están para protegernos y
            no para fastidiarnos.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="mejorar-los-tours.html"
              >Se pueden mejorar los tours en el Perú</a
            >
          </dt>
          <dd>
            El turista está disfrutando, y sin presiones disfrutará mejor.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="los-peruanos-si-leemos.html"
              >Los peruanos sí leemos, por si acaso</a
            >
          </dt>
          <dd>
            Me llamó la atención escuchar a alguien decir que los peruanos no
            leen. Cada que escucho eso, me pregunto de dónde sacan semejante
            idea.
          </dd>
        </div>

        <div>
          <dt class="h2">
            <a href="comienzan-las-clases.html">Comienzan las clases</a>
          </dt>
          <dd>
            Comienzan pronto las clases, una oportunidad excelente para recordar
            a padres y alumnos unas pocas verdades básicas acerca de la
            educación.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="quien-paga-tu-sueldo.html">¿Quién paga tu sueldo?</a>
          </dt>
          <dd>
            Sin importar qué tan grande sea la empresa o cuál es la cantidad de
            dinero que mueve mensualmente, todos los empresarios viven de sus
            clientes.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="separar-la-basura.html">Separa tu basura —es fácil</a>
          </dt>
          <dd>
            En este artículo de «Un Perú mejor» quiero invitarte a ser más
            considerado con quienes reciclan la basura. Es facilísimo hacerlo.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="ministerio-de-las-personas.html"
              >¿Y por qué no mejor un «Ministerio de las personas»?</a
            >
          </dt>
          <dd>
            Estoy a favor de cambiar el «Ministerio de la mujer y poblaciones
            vulnerables», pero pienso que lo mejor sería «Ministerio de las
            personas».
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="al-honesto-se-le-paga-con-gusto.html"
              >Al honesto se le paga con gusto</a
            >
          </dt>
          <dd>
            Quiero saludar la honestidad de un dueño de negocio a la hora de
            pagar.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="simple-matematica.html">Simple matemática</a>
          </dt>
          <dd>
            Para que la economía de un país se mantenga sólida, necesitamos que
            la gente tenga dinero en sus bolsillos.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="demasiados-adjetivos.html">Demasiados adjetivos</a>
          </dt>
          <dd>
            En Perú, acostumbramos llamar a nuestros amigos «chato», «gordo»,
            «chino» u otros. ¿No pasa nada o tiene consecuencias?
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="libre-independiente.html"
              >¿Es el Perú libre e independiente?</a
            >
          </dt>
          <dd>
            En teoría, Perú es libre e independiente; ¿pero en la práctica?
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="que-puedes-hacer-contra-el-crimen.html"
              >Qué puedes hacer contra el crimen</a
            >
          </dt>
          <dd>
            Sé que a muchos les resulta difícil imaginar qué podemos hacer
            contra el crimen, así que aquí van algunas sugerencias.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="el-valor-de-decir-la-verdad.html"
              >El valor de decir la verdad</a
            >
          </dt>
          <dd>
            Aún hay malas costumbres en nuestras calles. Una de las más dañinas
            es el floreo, es decir, el afirmar o prometer que uno dirá o hará
            algo… para incumplirlo después.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="invertir-en-cultura.html"
              >Falta darle una oportunidad a la cultura</a
            >
          </dt>
          <dd>
            La cultura, bien administrada, da trabajo y mucho dinero a un país;
            y, con toda la cultura que tiene el Perú, es una oportunidad que
            estamos desperdiciando.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="dos-desgracias-cotidianas-tabaco.html"
              >Tabaco: dos pequeñas desgracias cotidianas</a
            >
          </dt>
          <dd>
            En la ciudad de Lima buena parte de la basura que puede encontrarse
            en las calles proviene del tabaco.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="cuando-seamos-ejemplo.html"
              >Cuando seamos ejemplo de nuevo</a
            >
          </dt>
          <dd>
            Me preocupa es que los peruanos sigamos sin darnos cuenta del país
            que tenemos y continuemos buscando imitar ejemplos ajenos para tomar
            nuestras decisiones.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="sugerencias-para-ciclovias.html"
              >Sugerencias para las ciclovías</a
            >
          </dt>
          <dd>
            Tres sugerencias para mejorar el uso de la bicicleta como medio de
            transporte sostenible.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="lo-que-nos-enseño-la-epidemia.html"
              >Lo que nos enseñó la epidemia</a
            >
          </dt>
          <dd>
            Es importante que ahora aprovechemos, como país, la experiencia del
            Covid-19 para mejorar algunas cosas. Este artículo las resume.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="a-quien-le-das-tu-dinero.html"
              >¿Ya elegiste a quién le darás tu dinero?</a
            >
          </dt>
          <dd>
            Son pocas las veces en las que nos ponemos a pensar qué es lo que
            realmente hacemos con nuestro dinero, y qué es lo que nos conviene
            hacer.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="mensaje-a-los-estudiantes.html"
              >Un mensaje corto a todos los estudiantes del Perú</a
            >
          </dt>
          <dd>
            ¿Alguna vez te preguntaron qué querías ser cuando seas grande? ¿Sí?
            Entonces lee esto. Será importantísimo para ti.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="la-pobreza-y-las-alpacas.html">La pobreza y las alpacas</a>
          </dt>
          <dd>
            Se estima que el 80 % de la población mundial de alpacas vive en
            algunas de las zonas más pobres de los Andes peruanos. ¿Entonces?,
            ¿por qué hay pobres todavía?
          </dd>
        </div>
      <div>
          <dt class="h2">
            <a href="se-buscan-hombres.html">Se buscan hombres</a>
          </dt>
          <dd>Se buscan hombres de verdad... y con urgencia.</dd>
        </div>
        
        <div>
          <dt class="h2">
            <a href="amor-propio.html"
              >Un poco más de respeto… por nosotros mismos</a
            >
          </dt>
          <dd>
            Hay cosas que son inaceptables y necesitamos acostumbrarnos a
            rechazarlas en nuestra sociedad.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="halloween-en-peru.html"
              >Un pensamiento sobre el Halloween en Perú</a
            >
          </dt>
          <dd>
            El 31 de octubre, nuestras calles suelen quedar divididas entre las
            celabraciones de Halloween y el «Día de la canción criolla». ¡Y se
            ve un poco de todo!
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="botellas-de-plastico.html"
              >Cuidado con tus botellas de plástico</a
            >
          </dt>
          <dd>
            La ciencia ha mostrado que las botellas de plástico podrían ser un
            poco tóxicas. ¿Será momento para regresar al vidrio?
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="trabaja-como-corresponde.html"
              >¿Trabajas como corresponde?</a
            >
          </dt>
          <dd>
            Las excusas y las demoras no son parte del vocabulario de gente
            seria o que progresa, y no debería ser parte del vocabulario
            peruano.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="vendedores-y-mendigos.html">Vendedores y mendigos</a>
          </dt>
          <dd>
            La próxima que estés en la calle y tengas enfrente a un vendedor o a
            un mendigo, piensa en las consecuencias de darle a uno o al otro tu
            dinero.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="para-no-llegar-a-los-golpes.html"
              >Para no llegar a los golpes</a
            >
          </dt>
          <dd>
            Perú se ha vuelto tristemente célebre en los últimos años por ser un
            país donde se golpea y hasta asesina a las mujeres. Cambiemos eso.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="lo-que-no-notaste-de-ese-anuncio.html"
              >Lo que no notaste de ese anuncio</a
            >
          </dt>
          <dd>
            Hay algo que no notaste acerca de toda la publicidad que ves o
            escuchas a diario: que está totalmente alejada de la realidad.
          </dd>
        </div>
        <div>
          <dt class="h2">
            <a href="se-busca-pensamiento-critico.html"
              >Se busca pensamiento crítico</a
            >
          </dt>
          <dd>
            Muchas verdades son inteligentemente tergiversadas para obtener
            algún fin específico de ellas, y solo hay una forma de defenderse de
            aquellos engaños.
          </dd>
        </div>
        </dl>
    </article>
  </main>
</Dogma>
